{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{%block content %}
<form method="POST">
<div class="bg-primary mdk-box js-mdk-box mb-0" style="height: 192px;" data-effects="parallax-background blend-background">
  <div class="mdk-box__bg">
    <div class="mdk-box__bg-front" style= background-image:url(assets/images/1280_rsz_aman-dhakal-205796-unsplash.jpg); background-position: center;></div>
  </div>
</div>
<div class="{{ containerClass }} page__container d-flex align-items-end position-relative mb-4">
  <div class="avatar">
    <img id="avatar" src="https://i.gyazo.com/b5fdd5113dd0642e174b3d5c4fa1ddb5.png" alt="avatar" class="avatar-img rounded-circle border-3">
  </div>
  <style>
  .avatar img{
    border-radius: 5px;
    height: 250px;
    width: 250px;
    margin-bottom: 22px;
    max-width: 100%
}


</style>
<script>
  function equiphat()
        {
          
            var img = document.getElementById("avatar");
            img.src="https://i.gyazo.com/1dafbef4e778dc043ccb50318346e4ec.png";
            return false;
          
          
        }
</script>


  <ul class="nav nav-tabs-links flex" style="margin-left: 265px;">
    <li class="nav-item">
      <a href="{{ prefix }}profile.html" class="nav-link{% if slug == 'student-profile' %} active{% endif %}">Courses</a>
    </li>
    <li class="nav-item">
      <a href="{{ prefix }}profile-posts.html" class="nav-link{% if 'profile-posts' in slug %} active{% endif %}">Posts</a>
    </li>
  </ul>
</div>

<div class="{{ containerClass }} page__container mb-3">
  <div class="row flex-sm-nowrap">
    <div class="col-sm-auto mb-3 mb-sm-0" style="width: 265px;">
      <h1 class="h2 mb-1"><font color = black>Laza Bogdan</font></h1>
      <p class="d-flex align-items-center mb-4">
        <buttom type = "Purchase" class = "btn btn-primary" onclick="equiphat();">
          Equip Wizard hat
        </buttom>
      </p>
      
    <u><h4>About me</h4></u>
      <p class="text-white-70 measure-paragraph"> <font color = black>Here a student can describe themselves or a teacher or the class to see.</font></p>

      <u><h4>Connect</h4></u>
      <p class="text-white-70 measure-paragraph"><font color = black>Here a student can show their various rewards.</font></p>
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
</form>
{%endblock%}
