{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{%block content %}
<form method="POST">
<div class="bg-primary mdk-box js-mdk-box mb-0" style="height: 192px;" data-effects="parallax-background blend-background">
  <div class="mdk-box__bg">
    <div class="mdk-box__bg-front" style="background-image: url(assets/images/1280_rsz_aman-dhakal-205796-unsplash.jpg); background-position: center;"></div>
  </div>
</div>
<div class="{{ containerClass }} page__container d-flex align-items-end position-relative mb-4">
  <div class="avatar">
    <img src="https://media.istockphoto.com/photos/smiling-indian-man-looking-at-camera-picture-id1270067126?k=20&m=1270067126&s=612x612&w=0&h=ZMo10u07vCX6EWJbVp27c7jnnXM2z-VXLd-4maGePqc=" alt="avatar" class="avatar-img rounded-circle border-3">
  </div>
  <style>
  .avatar img{
    border-radius: 5px;
    height: 250px;
    width: 250px;
    margin-bottom: 22px;
    max-width: 100%
}
</style>
  <ul class="nav nav-tabs-links flex" style="margin-left: 265px;">
    <li class="nav-item">
      <a href="{{ prefix }}profile.html" class="nav-link{% if slug == 'student-profile' %} active{% endif %}">Courses</a>
    </li>
    <li class="nav-item">
      <a href="{{ prefix }}profile-posts.html" class="nav-link{% if 'profile-posts' in slug %} active{% endif %}">Posts</a>
    </li>
  </ul>
</div>

<div class="{{ containerClass }} page__container mb-3">
  <div class="row flex-sm-nowrap">
    <div class="col-sm-auto mb-3 mb-sm-0" style="width: 265px;">
      <h1 class="h2 mb-1"><font color = white>Laza Bogdan</font></h1>
      <p class="d-flex align-items-center mb-4">
        <a href="" class="btn btn-sm btn-success mr-2">Follow @LazaBogdan</a>
      </p>
      <div class="text-muted d-flex align-items-center mb-2">
        <i class="material-icons mr-1">account_box</i>
        <div class="flex">Student since 2012</div>
      </div>
      <div class="text-muted d-flex align-items-center mb-4">
        <i class="material-icons mr-1">location_on</i>
        <div class="flex">Romania, Europe</div>
      </div>
      
      <h4>About me</h4>
      <p class="text-white-70 measure-paragraph"> <font color = white>Fueled by my passion for understanding the nuances of cross-cultural advertising, I consider myself a forever student, eager to both build on my academic foundations in psychology and sociology and stay in tune with the latest digital marketing strategies through continued coursework.</font></p>

      <h4>Connect</h4>
      <p class="text-white-70 measure-paragraph"><font color = white>I’m currently working as a freelance marketing director and always interested in a challenge. Here’s how to reach out and connect.</font></p>
    </div>
    <div class="col-sm">
      
    </div>
  </div>
</div>
</form>
{%endblock%}
