{% extends "base.html" %}
{% block title %} Home {% endblock %}
{%block content %}
<form method="POST">
    <h1 align = "center"> SchoolQuest Home </h1>
    <h2 align = "center"> Welcome to SchoolQuest!</h2>
    <h3 align = "center"> 
        We are an online schooling platform aiming to bring kids back to willingfully
        participating in classes online! Our goal is to gamify the classroom, in order to
        make it more enticing for our kids to pay attention in class with so many online distractions. 
    </h3>
{%endblock%}