
{% extends "base.html" %}
{% block title %} Rewards {% endblock %}
{%block content %}
<form method="POST">
    <h1 align = "center"> SchoolQuest Rewards </h1>
    <div class="wizard">
    <h3 style = "font-family:verdana" >A wizard hat for your avatar.</h3>
    <img src="https://www.pngfind.com/pngs/m/503-5037896_wizard-hat-png-wizard-hat-clipart-transparent-png.png" alt="A wizard hat for your avatar.">
    </div>
    <style>
    .wizard img{
        border-radius: 5px;
        height: 250px;
        width: 250px;
        margin-bottom: 22px;
        max-width: 100%
    }
    </style>
    <buttom type = "Purchase" class = "btn btn-primary">
        Purchase wizard hat
    </buttom>
<p><br><br></p>
    <div class="Homework-Coupon">
        <h3 style = "font-family:verdana">A coupon to drop a homework grade.</h3>
        <img src="https://activitiesforkids.com/afkimages/no-homework-coupon.jpg"  alt="A coupon to drop a homework grade.">
        </div>
        <style>
        .Homework-Coupon img{
            border-radius: 5px;
            height: 150px;
            width: 250px;
            margin-bottom: 22px;
            max-width: 100%
        }
        </style>
        <buttom type = "Purchase" class = "btn btn-primary">
            Purchase homework coupon
        </buttom>
</form>
{%endblock%}